<div class="comment" id="comment_<%=post.id%>_<%= comment.id%>">
	<div class="user-name">
		<%= comment.user.user_name %>
	</div>
	<div class="comment-content">
		<%= comment.content %>		
	</div>
	<%  if comment.user == current_user %>
		<%= link_to 'Delete', post_comment_path(post, comment), method: :delete, remote: true, data: { confirm: 'Are You Sure?' } %>
		<span class="glyphicon glyphicon-remove delete-comment"></span>
	<% end %>
</div>